@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rokkitt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Roboto Condensed", sans-serif;
}

.container {
  position: relative;
  margin: auto 30px;
}
h2 {
  font-size: 20px;
}

header {
  height: 80px;
  display: flex;
  padding: 0px 20px 0px 20px;
  justify-content: space-between;
}

header > div {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 30px;
}
header div button {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #191919;
}
.logo {
  height: 80%;
}
header span {
  display: flex;
  gap: 20px;
}

header > span {
  /* border: 1px solid purple; */
  gap: 30px;
  display: flex;
  align-items: center;
}

header > span:nth-child(2) {
  width: 70%;

  justify-content: space-between;
  color: grey;
  font-size: 20px;
  align-items: center;
}
header > span:nth-child(2) span {
  display: flex;
  align-items: center;
}

header > span:nth-child(2) p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* padding: 6px; */
  width: 30px;
  height: 30px;
  color: white;
  border-radius: 50%;
  background-color: grey;
}

.researchBar {
  box-sizing: border-box;
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  color: #ff5f00;
  background-color: #191919;
  width: 100%;
  height: 70px;
  gap: 20px;
}
.researchBar span {
  position: relative;
  display: flex;
  flex-direction: column;
}

.research {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-right: 20px;
}
.research div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid white;
  gap: 15px;
  width: 100%;
}

.research div input {
  box-sizing: border-box;
  padding-bottom: 5px;
}

.time {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 7px;
}
.time span {
  display: flex;
  flex-direction: row;
}

.time input {
  border-bottom: 1px solid white;
}

.time input,
.research input {
  all: unset;
  margin-top: 10px;
  color: white;
  background-color: #191919;

  height: 20px;
  width: 90%;
}
.time input {
  width: 100%;
  border-bottom: 1px solid white;
}

.backdrop {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(25, 25, 25, 0.9);
}
.modalSearch {
  position: absolute;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  background-color: white;
  color: #191919;
  font-weight: 600;
  font-size: 20px;
  gap: 10px;
  padding: 20px;
  height: 300px;
  width: 100%;
  top: 160px;
}
.hero {
  height: fit-content;
  width: 100%;
}
.hero img {
  width: 100%;
}
.offerPage {
  display: flex;
  padding: 15px;
  flex-direction: column;
  gap: 20px;
  background-color: #ff5f00;
}
.offer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.filter {
  display: flex;
}
.orangeButton {
  color: white;
  background-color: #ff5f00;
  padding: 10px 30px;
}
.whiteButton {
  color: #ff5f00;
  background-color: white;
  padding: 10px 30px;
}

.formulaire,
.recap {
  width: 60vw;

  margin: 70px auto;
  border: 1px solid red;
}
.formulaire div {
  width: 100%;
  height: 500px;
  display: flex;
  border: 1px solid blue;
  margin-top: 30px;
  flex-wrap: wrap;
  align-content: center;
  gap: 50px;
}
.formulaire section {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 45%;
  height: 100%;
}
.formulaire span {
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.formulaire section input {
  padding-bottom: 10px;
  margin: 10px 0;
  width: 100%;
  border-bottom: 1px solid #cccc;
}
.ratio {
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.ratio input {
  all: revert;
}
.recap {
  display: flex;
  flex-direction: column;
}
.password form {
  width: 600px;
  height: 300px;

  margin: 200px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #ff5f00;
}
.password form input {
  background-color: black;
  color: white;
  padding: 8px;
  border: 1px solid red;
  width: 50%;
}
.reservation {
  flex-direction: column;
  display: flex;
}
.reservation section div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  border: 1px solid #baba;
}
.reservation section div:first-child {
  background-color: #ff5f00;
}
.reservation section span {
  display: flex;
  padding: 10px;
  width: 280px;
  flex-direction: column;
  gap: 20px;
}

.reservation h2 {
  margin-top: 10px;
}
/* .reservation section:nth-child(2) span {
  display: flex;
  width: 200px;
  flex-direction: column;
  gap: 20px;
} */
